body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #9a1d86, #1595be);
  font-weight: bold;
}

.player {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 20px;
  background-color: #ddd;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: block;
  width: 400px;
  height: auto;
  /* Adjust this width according to your design */
  overflow: hidden;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.track-art {
  margin: 10px;
  height: 150px;
  width: 150px;
  border: 2px solid #FFFAFA;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
  border-radius: 190px;
}

.now-playing {
  font-size: 1em;
}

.track-name {
  font-size: 2rem;
}

.track-artist {
  margin-top: 5px;
  font-size: 1em;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.active {
  color: black;
}


.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
  padding: 5px 15px;
  opacity: 0.8;
  transition: opacity .2s;
}

.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1.0;
}

.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seek_slider,
.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #83A9FF;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #3774FF;
  cursor: grab;
  border-radius: 100%;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}

i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward,
p {
  cursor: pointer;
}

.randomActive {
  color: red;
}

.repeatActive {
  color: #e0322f;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.loader {
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader .stroke {
  background: #f1f1f1;
  height: 150%;
  width: 5px;
  border-radius: 50px;
  margin: 0 5px;
  animation: animate 1.4s linear infinite;
}

@keyframes animate {
  50% {
    height: 20%;
    background: #4286f4;
  }

  100% {
    background: #4286f4;
    height: 100%;
  }
}

.stroke:nth-child(1) {
  animation-delay: 0s;
}

.stroke:nth-child(2) {
  animation-delay: 0.3s;
}

.stroke:nth-child(3) {
  animation-delay: 0.6s;
}

.stroke:nth-child(4) {
  animation-delay: 0.9s;
}

.stroke:nth-child(5) {
  animation-delay: 0.6s;
}

.stroke:nth-child(6) {
  animation-delay: 0.3s;
}

.stroke:nth-child(7) {
  animation-delay: 0s;
}

.song-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-top: 10px 0px;
  max-height: 250px;
  /* Set a maximum height to make it scrollable */
  overflow-y: auto;
  /* Enable vertical scrolling when content overflows */
}

.song-item {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 10px 0px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.song-item img {
  width: 40px;
  /* Set a fixed width for the image */
  height: 40px;
  /* Set a fixed height for the image */
  object-fit: cover;
  /* Maintain aspect ratio and crop if necessary */
  border-radius: 5px;
  /* Add a border-radius to make the image rounded */
}

.song-name {
  font-weight: inherit;
}

.song-artist {
  color: #888;
}

/* Hide scrollbar for Chrome, Safari, and newer versions of Edge */
.song-list::-webkit-scrollbar {
  width: 0.5em;
}

.song-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.song-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 2px;
}

/* Hide scrollbar for Firefox */
.song-list {
  scrollbar-width: none;
}

.song-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* wrap scroll*/
/* Hide scrollbar for Chrome, Safari, and newer versions of Edge */
.wrapper::-webkit-scrollbar {
  width: 0.5em;
}

.wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 2px;
}

/* Hide scrollbar for Firefox */
.wrapper {
  scrollbar-width: none;
}

.wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


/*Search bar*/
.search-container {
  margin: 5px 50px;
}

.search-container input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}